* {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    float: left;
    padding: 20px;
    margin: 5px;
    list-style: none;
}

li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 100%;
    margin: 0;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 0.5em;
}

li a:hover {
    background-color: yellow;
    color: blueviolet;
    border-radius: 20px;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

title {
    color: white;
    text-align: center;
    line-height: 100%;
}

#cate {
    width: 100%;
    display: flex;
    background-color: rebeccapurple;
    color: yellow;
    text-decoration: none;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    list-style: none;
    float: left;
}

#cate li {
    list-style: none;
}

#product {
    float: left;
}

.prod1,
.prod2,
.prod3,
.prod4,
.prod5,
.prod6 {
    justify-content: center;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blueviolet;
    line-height: 100%;
}

.search {
    display: inline;
    float: right;
}

.main_moon {
    display: flex;
    padding: 30px 20px 20px 0;
}

.exp_moon {
    display: inline;
    float: right;
}

nav {
    padding: 20px;
    text-align: center;
    list-style: none;
    color: yellow;
    background-color: blueviolet;
    justify-content: row;
    flex-wrap: nowrap;
    float: 🇨enter;
}

.main_gift {
    display: flex;
    flex-wrap: nowrap;
}

.price_gift {
    display: flex;
    flex-wrap: nowrap;
    float: right;
}