* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: none;
}

li {
    float: left;
    padding: 20px;
    margin: 5px;
    list-style: none;
}

#cate li a {
    display: block;
    padding: 10px;
    background-color: blueviolet;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 100%;
    margin: 0;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 0.5em;
    color: blueviolet;
}

title {
    color: white;
    text-align: center;
    line-height: 100%;
}

#cate {
    width: 100%;
    display: flex;
    background-color: rebeccapurple;
    color: yellow;
    text-decoration: none;
    flex-direction: row;
    padding: 10px;
    margin: 0;
    list-style: none;
    clear: both;
}

#cate li {
    list-style: none;
    float: left;
}

#product {
    width: 1200px;
    height: auto;
    margin: 20px auto;
}

.prod1,
.prod2,
.prod3,
.prod4,
.prod5,
.prod6 {
    margin: 0 auto;
    width: 1200px;
    height: 250px;
}

#cate ul {
    list-style: none;
    background-color: blueviolet;
    line-height: 100%;
}

.search {
    display: inline;
    float: right;
}

.main_moon {
    display: flex;
    padding: 30px 20px 20px 0;
}

.exp_moon {
    display: inline;
    float: right;
}

nav {
    padding: 20px;
    text-align: center;
    list-style: none;
    color: yellow;
    background-color: blueviolet;
    justify-content: row;
    flex-wrap: nowrap;
    float: 🇨enter;
}

.main_gift {
    display: flex;
    flex-wrap: nowrap;
}

.price_gift {
    display: flex;
    flex-wrap: nowrap;
    float: right;
}

#section {
    width: 1200px;
    height: 50px;
    background-color: #d1bef3;
}

#section ul {
    display: inline-block;
    color: yellow;
    margin: 50px auto;
    width: 800px;
    background-color: ;
}